<a href="https://colab.research.google.com/github/carlos-souza-blip/Coursera-/blob/master/TEST_RMHP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import files
uploaded = files.upload()

Saving rmhp_selecao_go.xlsx to rmhp_selecao_go.xlsx

In [2]:
import pandas as pd
import numpy as np

In [3]:
dados = pd.read_excel('rmhp_selecao_go.xlsx')

In [5]:
dados

            cnes  sexo  idade diag_princ  ...  uso_uti  obito  icc  ieh
0        2333988     1     44        A09  ...        0      0    0    0
1        2333988     1     57       A491  ...        0      0    0    0
2        2333988     3     18       B188  ...        0      0    1    0
3        2333988     1     49        I10  ...        0      0    0    1
4        2333988     3     44       J068  ...        0      0    0    0
...          ...   ...    ...        ...  ...      ...    ...  ...  ...
1004665  9813349     3     44       S520  ...        0      0    0    0
1004666  9813349     3     50       S521  ...        0      0    0    0
1004667  9813349     3     64       S522  ...        0      0    0    0
1004668  9813349     3     97       M169  ...        0      0    0    0
1004669  9813349     3     82       J189  ...        0      0    0    0

[1004670 rows x 13 columns]

In [6]:
data = dados[['ano', 'obito', 'icc', 'ieh', 'cid50', 'uso_uti', 'permanencia', 'fxidade']]
data

          ano  obito  icc  ieh  cid50  uso_uti  permanencia  fxidade
0        2015      0    0    0      0        0            2        1
1        2015      0    0    0      1        0            2        2
2        2015      0    1    0      0        0            2        1
3        2015      0    0    1      0        0            2        1
4        2015      0    0    0      0        0            2        1
...       ...    ...  ...  ...    ...      ...          ...      ...
1004665  2021      0    0    0      0        0            1        1
1004666  2021      0    0    0      0        0            2        2
1004667  2021      0    0    0      0        0            1        3
1004668  2021      0    0    0      0        0            2        6
1004669  2021      0    0    0      1        0            1        5

[1004670 rows x 8 columns]

In [5]:
from sklearn.datasets import load_breast_cancer
from sklearn.linear_model import LogisticRegression
from sklearn.datasets import make_multilabel_classification
from sklearn.multioutput import MultiOutputClassifier
from sklearn.linear_model import RidgeClassifierCV
from sklearn.metrics import roc_auc_score, roc_curve, classification_report,\
                            accuracy_score, confusion_matrix, auc
import statsmodels.api as sm
import statsmodels.formula.api as smf
import matplotlib.pyplot as plt

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [30]:
modelo = smf.glm(formula= 'obito ~ icc + ieh + uso_uti + permanencia + cid50 + fxidade', data=data,
                 family = sm.families.Binomial()).fit()
print(modelo.summary())

                 Generalized Linear Model Regression Results
==============================================================================
Dep. Variable:                  obito   No. Observations:              1004670
Model:                            GLM   Df Residuals:                  1004663
Model Family:                Binomial   Df Model:                            6
Link Function:                  logit   Scale:                          1.0000
Method:                          IRLS   Log-Likelihood:            -1.7905e+05
Date:                Tue, 29 Jun 2021   Deviance:                   3.5809e+05
Time:                        12:01:26   Pearson chi2:                 8.45e+05
No. Iterations:                     7
Covariance Type:            nonrobust
===============================================================================
                  coef    std err          z      P>|z|      [0.025      0.975]
-------------------------------------------------------------------------------
Intercept      -4.7516      0.014   -340.707      0.000      -4.779      -4.724
icc             0.3087      0.005     66.484      0.000       0.300       0.318
ieh             0.1304      0.020      6.613      0.000       0.092       0.169
uso_uti         2.2989      0.010    227.657      0.000       2.279       2.319
permanencia     0.0122      0.004      3.306      0.001       0.005       0.019
cid50           0.6299      0.010     63.366      0.000       0.610       0.649
fxidade         0.3952      0.003    123.882      0.000       0.389       0.401
===============================================================================

In [78]:
model = LogisticRegression(penalty='none', solver='newton-cg')
y = data.obito
x = pd.get_dummies(data[['icc', 'ieh', 'uso_uti', 'permanencia', 'fxidade', 'cid50']])

In [4]:
# é necessário adicionar uma constante a matriz X
x = sm.add_constant(x)
# OLS vem de Ordinary Least Squares e o método fit irá treinar o modelo
results = sm.OLS(y, x).fit()
# mostrando as estatísticas do modelo
print(results.summary())

NameError: ignored

In [3]:
import numpy as np
print(results.f_test(np.identity(2)))

NameError: ignored

In [80]:
# mostrando as previsões para o mesmo conjunto passado
print(results.predict(x))

0         -0.003391
1          0.057257
2          0.014956
3         -0.004583
4         -0.003391
             ...
1004665   -0.003185
1004666    0.016680
1004667    0.036956
1004668    0.096962
1004669    0.117675
Length: 1004670, dtype: float64

In [82]:
# Visualizar os coeficientes encontrados
model.fit(x, y)
print(model.coef_)

[[-2.37578612  0.30870939  0.1303971   2.29891577  0.01221132  0.3952291
   0.62989031]]

In [93]:
# Visualizando o R^2
model.score(x, y)

0.9382732638577842

In [94]:
# Mostrando as previsões 
model.predict_proba(x)

array([[0.9870282 , 0.0129718 ],
       [0.96466139, 0.03533861],
       [0.98241921, 0.01758079],
       ...,
       [0.97217697, 0.02782303],
       [0.91339216, 0.08660784],
       [0.89410026, 0.10589974]])

In [95]:
coefs = pd.DataFrame(np.exp(results.params[1:]))
coefs.columns = ['coeficeientes']
print(coefs)

             coeficeientes
icc               1.018516
ieh               0.998808
uso_uti           1.286353
permanencia       0.999794
fxidade           1.020273
cid50             1.041412